<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.0/dist/quartz/bootstrap.min.css">
<!--  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>


  <style>
    .form-label{
      text-decoration-color: darkmagenta;
    }

  </style>
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Date4u</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </br>
  <h2 th:align="center">Go Ahead and Find Your Destiny Now!</h2>
  <br /><br />
  <div class="container">
    <div class="row col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Registration</h2>
        </div>
        <div th:if="${param.success}">
          <div class="alert alert-info">
            You have successfully registered our app!
          </div>
        </div>
        <div class="card-body">
          <form
                  method="post"
                  role="form"
                  th:action="@{/registration/save}"
          >
            <div class="form-group mb-3">
              <label class="form-label">Nickname</label>
              <input
                      class="form-control"
                      id="nickname"
                      name="nickname"
                      placeholder="Example: Nickname"
                      th:field="${userProfile.nickname}"
                      type="text"
              />
              <p th:errors = "${userProfile.nickname}" class="text-danger"
                 th:if="${#fields.hasErrors('userProfile.nickname')}"></p>
            </div>

            <div class="form-group mb-3">
              <label for="datepicker" class="form-label">Date of Birth</label>

              <div class="row form-group">
                <div class="col-sm-4">
                  <div class="input-group date" >
                    <input type="date" class="form-control"  th:field="${userProfile.birthdate}"
                           th:attr="max=${#temporals.format(ageLimit, 'yyyy-MM-dd')}" id="datepicker">
                  </div>
                </div>
              </div>

              <p th:errors = "${userProfile.birthdate}" class="text-warning"
                 th:if="${#fields.hasErrors('userProfile.birthdate')}"></p>
            </div>
          <div class="form-group mb-3">
            <label class="form-label">Hornlength</label>
            <input style=" color: darkviolet"
                    class="form-control"
                    id="hornlength"
                    name="hornlength"
                    placeholder=""
                    th:field="${userProfile.hornlength}"
                    type="text"
            />
                          <p th:errors = "${userProfile.hornlength}" class="text-warning"
                             th:if="${#fields.hasErrors('userProfile.hornlength')}"></p>
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Gender</label>
            <select class="form-control" data-th-field="${userProfile.gender}" id="gender" style=" color: darkviolet">
              <option th:value="0" th:text="Other"></option>
              <option  th:value="2" th:text="Female"></option>
              <option th:value="1" th:text="Male"></option>

            </select>
                          <p th:errors = "${userProfile.gender}" class="text-warning"
                             th:if="${#fields.hasErrors('userProfile.gender')}"></p>
          </div>
          <div class="form-group mb-3">
            <label class="form-label" >Gender of Partner</label>
            <select class="form-control" data-th-field="${userProfile.attractedToGender}" id="attractedToGender" style=" color: darkviolet">
              <option th:value="0" th:text="Other"></option>
              <option  th:value="2" th:text="Female"></option>
              <option th:value="1" th:text="Male"></option>

            </select>
                          <p th:errors = "${userProfile.attractedToGender}" class="text-warning"
                             th:if="${#fields.hasErrors('userProfile.attractedToGender')}"></p>
          </div>
          <div class="form-group mb-4">
            <label class="form-label">Description</label>
            <input
                    class="form-control"
                    id="description"
                    name="description"
                    placeholder="Example: I like to do this and that."
                    th:field="${userProfile.description}"
                    type="text"
            />
                          <p th:errors = "${userProfile.description}" class="text-warning"
                             th:if="${#fields.hasErrors('userProfile.description')}"></p>
          </div>

            <div class="form-group mb-3">
              <label class="form-label">Email</label>
              <input
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="example@gmail.com"
                      th:field="${user.email}"
                      type="email"
              />
              <p th:errors = "${user.email}" class="text-danger"
                 th:if="${#fields.hasErrors('user.email')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Password</label>
              <input
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Letters12345?,-_!"
                      th:field="${user.password}"
                      type="password"
              />
              <p th:errors = "${user.password}" class="text-danger"
                 th:if="${#fields.hasErrors('user.password')}"></p>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Register</button>
              <span>Already registered? <a th:href="@{/login}">Login here</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<script type="text/javascript">-->
<!--  let date = new Date();-->
<!--  date.setFullYear(date.getFullYear() - 18);-->
<!--  date.setMonth(11);-->
<!--  date.setDate(31);-->

<!--  document.getElementById("#datepicker").value = date;-->


<!--  $(function() {-->
<!--    $('#datepicker').datepicker({-->
<!--      format: 'yyyy-MM-dd',-->
<!--      endDate: date-->
<!--    });-->
<!--  });-->
<!--</script>-->
</body>
</html>

