<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.0/dist/quartz/bootstrap.min.css">
</head>
<body>
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" th:href="@{/index}">Date4u</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br /><br /><br />
  <div class="container">
    <div class="row col-md-8 offset-md-2">
      <div class="card">
        <div class="card-header">
          <h2 class="text-center">Registration</h2>
        </div>
        <div th:if="${param.success}">
          <div class="alert alert-info">
            You have successfully registered our app!
          </div>
        </div>
        <div class="card-body">
          <form
                  method="post"
                  role="form"
                  th:action="@{/registration/save}"
          >
            <div class="form-group mb-3">
              <label class="form-label">Nickname</label>
              <input
                      class="form-control"
                      id="nickname"
                      name="nickname"
                      placeholder="Example: Nickname"
                      th:field="${userProfile.nickname}"
                      type="text"
              />
              <p th:errors = "${userProfile.nickname}" class="text-danger"
                 th:if="${#fields.hasErrors('userProfile.nickname')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Date of Birth</label>
              <input
                      class="form-control"
                      id="birthdate"
                      name="birthdate"
                      placeholder="Example: 2022-12-12"
                      th:field="${userProfile.birthdate}"
                      type="text"
              />
              <p th:errors = "${userProfile.birthdate}" class="text-danger"
                 th:if="${#fields.hasErrors('userProfile.birthdate')}"></p>
            </div>
          <div class="form-group mb-3">
            <label class="form-label">Hornlength</label>
            <input
                    class="form-control"
                    id="hornlength"
                    name="hornlength"
                    placeholder=""
                    th:field="${userProfile.hornlength}"
                    type="text"
            />
                          <p th:errors = "${userProfile.hornlength}" class="text-danger"
                             th:if="${#fields.hasErrors('userProfile.hornlength')}"></p>
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Gender</label>
            <input
                    class="form-control"
                    id="gender"
                    name="gender"
                    placeholder=""
                    th:field="${userProfile.gender}"
                    type="text"
            />
                          <p th:errors = "${userProfile.gender}" class="text-danger"
                             th:if="${#fields.hasErrors('userProfile.gender')}"></p>
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Gender of Partner</label>
            <input
                    class="form-control"
                    id="attractedToGender"
                    name="attractedToGender"
                    placeholder="Example: 1- Male, 2- Female, 0- Diverse"
                    th:field="${userProfile.attractedToGender}"
                    type="text"
            />
                          <p th:errors = "${userProfile.attractedToGender}" class="text-danger"
                             th:if="${#fields.hasErrors('userProfile.attractedToGender')}"></p>
          </div>
          <div class="form-group mb-3">
            <label class="form-label">Description</label>
            <input
                    class="form-control"
                    id="description"
                    name="description"
                    placeholder="Example: I like to do this and that."
                    th:field="${userProfile.description}"
                    type="text"
            />
                          <p th:errors = "${userProfile.description}" class="text-danger"
                             th:if="${#fields.hasErrors('userProfile.description')}"></p>
          </div>

            <div class="form-group mb-3">
              <label class="form-label">Email</label>
              <input
                      class="form-control"
                      id="email"
                      name="email"
                      placeholder="example@gmail.com"
                      th:field="${user.email}"
                      type="email"
              />
              <p th:errors = "${user.email}" class="text-danger"
                 th:if="${#fields.hasErrors('user.email')}"></p>
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Password</label>
              <input
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Letters12345?,-_!"
                      th:field="${user.password}"
                      type="password"
              />
              <p th:errors = "${user.password}" class="text-danger"
                 th:if="${#fields.hasErrors('user.password')}"></p>
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Register</button>
              <span>Already registered? <a th:href="@{/login}">Login here</a></span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>