<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@5.1.0/dist/quartz/bootstrap.min.css">
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid"><div class="navbar-nav">
            <a class="navbar-brand" href="#">Date4u</a>
            <a class="nav-link nav-item" href="profile">My Profile</a>
            <a class="nav-link nav-item" th:href="@{/logout}">Logout</a>
        </div></div>
    </nav>
    <div class="jumbotron">
        </br>
        <h1 class="display-4">Find Your Destiny </h1>
        </br></br>
        <div>
            <table class="table">
                <thead>
                <tr><th>#</th><th>Birthday</th><th>Nickname</th><th>Description</th></tr>
                </thead>
                <tbody>
                <tr data-th-each="profile,it : ${pageOfProfiles}">
                    <td data-th-text="${it.count} +(${pageOfProfiles.size()}* (${currentPage}-1))">COUNTER</td>
                    <td data-th-text="${profile.nickname}">NICKNAME</td>
                    <td data-th-text="${profile.birthdate}">BIRTHDAY</td>
                    <td data-th-text="${profile.description}">DESCRIPTION</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <footer style="font-size: large" class="panel-footer">
        Found [[${totalProfilesNumber}]] Profiles : Page [[${currentPage}]] of [[${pageOfProfiles.size()-1}]]
        &nbsp; &nbsp; --> &nbsp;
        <span th:each="i: ${pageNumbers}">
        <a th:href="@{/search(size=${5}, page=${i})}">[[${i}]]</a>
        &nbsp; &nbsp;
    </span>
    </footer>
    <p>
<!--        <a href="../index.html" th:href="@{/}">Return to home</a>-->
    </p>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>